@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
@import url('./Styles/ContainerImgCards.css');
@import url('./Styles/Home.css');
@import url('./Styles/Loader.css');
@import url('./Styles/Login.css');
@import url('./Styles/PokemonList.css');
@import url('./Styles/SingleOutPokemon.css');
@import url('./Styles/Error.css');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
